<button (click)="editCustomerDetails()"> Edit Customer Details </button>
 
<p>Vehicle List</p>
<table style="border: 1px solid black; width: 100%;">
    <thead>
        <tr>
            <th>Vehicle Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Vehicle Type</th>
            <th>Mileage</th>
            <th>Price Per Day</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let vehicle of vehicleList">
            <td>{{ vehicle.vehicleId }}</td>
            <td>{{ vehicle.make }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year }}</td>
            <td>{{ vehicle.vehicleType }}</td>
            <td>{{ vehicle.mileage }}</td>
            <td>{{ vehicle.pricePerDay }}</td>
            <td>{{ vehicle.status }}</td>
            <td><button (click)="reserve(vehicle.vehicleId)">Reserve</button></td>
            <td> <button (click)="editReservation()"> Edit </button></td>
            <td> <button> Delete</button></td>
        </tr>
    </tbody>
</table>
