<form *ngIf="customer" (ngSubmit)="saveCustomer()">
    <label for="fullName">Full Name</label>
    <input type="text" id="fullName" [ngModel]="customer!.fullName" (ngModelChange)="customer.fullName = $event" name="fullName" required><br>
    <label for="email">Email</label>
    <input type="email" id="email" [ngModel]="customer!.email" (ngModelChange)="customer.email = $event" name="email" required><br>
    <label for="userName">Username</label>
    <input type="text" id="userName" [ngModel]="customer!.userName" (ngModelChange)="customer.userName = $event" name="userName" required><br>
    <label for="password">Password</label>
    <input type="password" id="password" [ngModel]="customer!.password" (ngModelChange)="customer.password = $event" name="password" required><br>
    
    <!-- Address Fields -->
    <label for="street">Street</label>
    <input type="text" id="street" [ngModel]="customer!.address?.street" (ngModelChange)="customer.address.street = $event" name="street" required><br>
    
    <label for="city">City</label>
    <input type="text" id="city" [ngModel]="customer!.address?.city" (ngModelChange)="customer.address.city = $event" name="city" required><br>
    
    <label for="state">State</label>
    <input type="text" id="state" [ngModel]="customer!.address?.state" (ngModelChange)="customer.address.state = $event" name="state" required><br>
    
    <label for="zip">ZIP</label>
    <input type="text" id="zip" [ngModel]="customer!.address?.zip" (ngModelChange)="customer.address.zip = $event" name="zip" required><br>
    
    <label for="country">Country</label>
    <input type="text" id="country" [ngModel]="customer!.address?.country" (ngModelChange)="customer.address.country = $event" name="country" required><br>
    <!-- End Address Fields -->
  
    <button type="submit">Save</button>
</form>
