<div style="background-image: url('/assets/images/signupPageImage.jpeg');
background-size: cover; background-position: center; min-height: 100vh; display: flex;
justify-content: center; align-items: center; flex-direction: column;">

<div class="container mt-5">
    <h1 style="color: rgb(214, 240, 18);">Edit Reservation Details</h1>

    <form [formGroup]="reservationForm" (ngSubmit)="submitReservation()" style="width: 100%; max-width: 600px;">
        <div class="mb-3">
            <label for="reservationStartDate" class="form-label" style="color: white">Reservation Start Date:</label>
            <input type="date" id="reservationStartDate" formControlName="reservationStartDate" class="form-control" style="opacity: 0.5;">
        </div>

        <div class="mb-3">
            <label for="noOfDays" class="form-label" style="color: white">Number of Days:</label>
            <input type="number" id="noOfDays" formControlName="noOfDays" class="form-control" style="opacity: 0.5;">
        </div>

        <div class="mb-3">
            <label for="reservationEndDate" class="form-label" style="color: white">Reservation End Date:</label>
            <input type="date" id="reservationEndDate" formControlName="reservationEndDate" class="form-control" style="opacity: 0.5;">
        </div>

        <div formGroupName="customer" class="mb-3">
            <label for="cusId" class="form-label" style="color: white">Customer Id:</label>
            <input type="number" id="cusId" formControlName="cusId" class="form-control" style="opacity: 0.5;">
        </div>

        <div formGroupName="vehicle" class="mb-3">
            <label class="form-label" style="color: white">Vehicle Id:</label>
            <input type="number" formControlName="vehicleId" class="form-control" readonly style="opacity: 0.5;">
            <label class="form-label" style="color: white">Make:</label>
            <input type="text" formControlName="make" class="form-control" readonly style="opacity: 0.5;">
            <label class="form-label" style="color: white">Model:</label>
            <input type="text" formControlName="model" class="form-control" readonly style="opacity: 0.5;">
            <label class="form-label" style="color: white">Year:</label>
            <input type="text" formControlName="year" class="form-control" readonly style="opacity: 0.5;">
            <label class="form-label" style="color: white">Vehicle Type:</label>
            <select formControlName="vehicleType" class="form-select" style="opacity: 0.5;">
                <option value="">Select Vehicle Type</option>
                <option value="Sedan">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="Coupe">Coupe</option>
                <option value="Convertible">Convertible</option>
            </select>
            <label class="form-label" style="color: white">Mileage:</label>
            <input type="text" formControlName="mileage" class="form-control" readonly style="opacity: 0.5;">
        </div>

        <div formGroupName="payment" class="mb-3" style="color: white">
            <label for="creditCardNumber" class="form-label">Credit Card Number:</label>
            <input type="text" id="creditCardNumber" formControlName="creditCardNumber" class="form-control" style="opacity: 0.5;">
            <label for="expiration" class="form-label">Expiration Date:</label>
            <input type="text" id="expiration" formControlName="expiration" class="form-control" placeholder="mm/yy" style="opacity: 0.5;">
            <label for="cvv" class="form-label">CVV:</label>
            <input type="text" id="cvv" formControlName="cvv" class="form-control" style="opacity: 0.5;">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
